#scoreboard .card-deck {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

#scoreboard .card {
  min-width: 16rem;
  width: 100%;
  max-width: 18rem;
}

#scoreboard .card-header {
  font-size: 1.5rem;
}

#scoreboard .card-title {
  font-size: 1.25rem;
}

#scoreboard .card-body {
  padding: 1rem;
}

table {
  width: 100%!important;
}

th {
  padding-bottom: 0.25rem;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.container {
  max-width: 60rem; /* 960px == 60rem*/
}

.content {
  text-align: center;
}

.title {
  font-size: 84px;
}

.m-b-md {
  margin-bottom: 30px;
}

#updateForm input {
  text-align: center;
}
