#scoreboard .card-deck {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: row wrap;
}

#scoreboard .card {
  min-width: 16rem;
  width: 100%;
  max-width: 18rem;
}

#scoreboard .card-header {
  font-size: 1.5rem;
}

#scoreboard .card-title {
  font-size: 1.25rem;
}

#scoreboard .card-body {
  padding: 1rem;
}

.table table {
  width: 100% !important;
  font-size: 1rem;
}

.table td {
  vertical-align: middle;
}

html, body {
  font-size: 1rem;
  background-color: #fff;
  color: #636b6f;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  margin: 0;
}

.container {
  max-width: 60rem; /* 960px == 60rem*/
}

.content {
  text-align: center;
}

.title {
  font-size: 3rem;
}

.m-b-md {
  margin-bottom: 30px;
}

#updateForm input {
  text-align: center;
}

.text-center {
  text-align: center;
}
